.pop-text {
    font-family: "Rampart One", cursive;
}
#profile-img {
    opacity: 0;
    transition: 0.3s;
    width: 5rem;
}
#profile-img.extend {
    opacity: 1;
    animation: show 0.5s;
    width: 17rem;
}

@keyframes show {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    75% {
        transform: scale(1.06);
    }

    100% {
        transform: scale(1);
        
    }
}
#app {
    position: relative;
}
.popup {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding: 100px 200px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    .window {
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 8px;
        padding: 30px 50px;
        overflow: scroll;
    }
    &.active {
        opacity: 1;
        pointer-events: auto;
    }
    .back {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(rgb(75, 4, 42), 0.8);
        z-index: -1;
    }
}

.navbar {
    z-index: 1000;
}

p {
    font-size: 1.2rem;
}

#about {
    display: flex;
    .photo {
        flex: 1;
        img {
            width: 100%;
        }
    }
}
.projects {
    display: flex;
    margin-bottom: 40px;
    .left {
        flex: 1;
    }
    .right {
        flex: 1;
    }
    img {
        width: 250px;
    }
}

.swiper {
    max-width: 900px;
    height: 700px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    background-color: #fff;
    border: solid 5px #ce2b6f;
    padding: 50px;
}


#students{
    li{
        margin: 10px 0;
        span{
            margin-right: 15px;
        }
    }
    .year{
        background-color: #ffedf4;
        padding: 2px 8px;
        border-radius: 3px;
    }
    .name{
        color: #000;
        font-weight: bold;
    }
}